polkit.addRule(function(action, subject) {
     if ((action.id == "org.freedesktop.login1.reboot" &&
         subject.user == "pi")
     {
         return polkit.Result.YES;
     }
});
